{
"lastNewFormDate": "1980-01-01 00:00:00",
"f_repairman_id": "x",
"f_user_id": "aaa",
"base_url": "http://192.168.20.67:8081/RestWork/rs/",
"REMOTE_WWW_PREFIX": "C:/test/",
"LOCAL_PATH_PREFIX": "/data/data/com.aofeng.hybridwork/files/",
"REMOTE_BZ_PREFIX": "C:/workspace/product-hujiao/RestWork/src/main/resources/",
"ProjectNativeMethod": "com.aofeng.hybridwork.android.ProjectNativeMethod",
"version": "0",
"txtServiceStopped": "false",
"msgCount": "0",
"f_subcompany": "changan",
"entities": [
"t_serviceworkorder",
"t_oppointment",
"t_service",
"t_complaint",
"t_consult",
"t_patroldefect",
"t_service_acitivity",
"t_servicework",
"t_notwork",
"t_delayapply",
"t_delayreply",
"t_reminder",
"t_site_back",
"t_servicesend",
"t_recall",
"t_servicedelete",
"t_servicerepair",
"t_details",
"t_doorrepair",
"t_accidenttreatment",
"t_gaiconduit",
"t_liconduit",
"t_failure",
"t_failurecase",
"t_material",
"t_baseuserinfo",
"t_repairimg"
]
}
